/* styles-web.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 210mm; /* A4 size width */
    min-height: 297mm; /* A4 size height */
    margin: auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header {
    text-align: center;
    background-color: #2477a3;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.photo {
    display: block;
    margin: 0 auto;
    width: 120px; /* Adjusted size */
    height: 120px; /* Adjusted size */
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
}

h1 {
    color: #fff;
    font-weight: 300;
    margin: 5px 0;
    font-size: 20px; /* Adjusted size */
}

.profession {
    font-size: 14px; /* Adjusted size */
    text-transform: uppercase;
    margin: 5px 0;
}

.contact-info {
    font-size: 10px; /* Adjusted size */
    margin-top: 5px;
}

.contact-info a {
    color: #fff;
    text-decoration: underline;
}

h2 {
    color: #2477a3;
    border-bottom: 2px solid #2477a3;
    display: inline-block;
    padding-bottom: 2px; /* Adjusted size */
    margin-bottom: 10px; /* Adjusted size */
    font-weight: 300;
    font-size: 16px; /* Adjusted size */
}

.section {
    margin-bottom: 10px;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Space between columns */
}

.column {
    /* Flex item properties for responsive layout */
}

.description {
    width: 60%; /* Wider width for description */
    text-align:justify;
    
}

.sprachen {
    width: 35%; /* Slightly smaller width for sprachen */
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    margin: auto;
}

.description, .sprachen {
    margin: 0;
}

.description p, .sprachen ul {
    margin: 0;
    color: #666;
    font-size: 12px; /* Adjusted size */
}

.sprachen ul {
    list-style: none;
    padding: 0;
}

.sprachen li {
    margin: 5px 0;
}

.timeline {
    position: relative;
    margin: 0;
    padding: 2px;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px; /* Adjusted size */
    background: #2477a3;
    left: 20px;
}

.timeline-item {
    margin-bottom: 15px; /* Adjusted size */
    position: relative;
    padding-left: 120px; /* Adjusted size */
}

.timeline-date {
    position: absolute;
    left: -110px; /* Adjusted size */
    width: 90px; /* Adjusted size */
    text-align: right;
    color: #333;
    font-weight: bold;
    font-size: 10px; /* Adjusted size */
    top: 0;
}

.timeline-content {
    margin-left: 0;
    padding: 5px 10px; /* Adjusted size */
    background-color: #e9ecef;
    border-left: 2px solid #2477a3;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.timeline-content:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -8px; /* Adjusted size */
    width: 14px; /* Adjusted size */
    height: 14px; /* Adjusted size */
    border-radius: 50%;
    background: #2477a3;
    border: 2px solid #fff;
}

.timeline-content h3 {
    margin-top: 0;
    color: #333;
    font-weight: 300;
    font-size: 14px; /* Adjusted size */
}

.timeline-content p, .timeline-content ul {
    margin: 2px 0 0;
    color: #666;
    font-size: 12px; /* Adjusted size */
  
}

.timeline-content ul {
    padding-left: 15px; /* Adjusted size */
    list-style-type: disc;
}

a {
    color: #2477a3;
    font-size: 12px; /* Adjusted size */
    transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
    font-weight: 100;
}

a:hover {
    transform: scale(1.01);
    font-weight: 400;
}

.hobbies {
    margin-top: 10px; /* Adjusted size */
}

.hobbies ul {
    padding-left: 15px; /* Adjusted padding */
}

/* Print styles */
@media print {
    .page-break {
        page-break-before: always;
    }
}

.block-sprachen { text-align: end;}
.skills h3 {
    font-size: 16px;
    font-weight: 200;
    padding: 0;
    margin: 0 auto;
}

.skills p, ul {
    font-size: 10px; /* Adjusted size */
    color: #666;
    padding: 0 0 5px 20px ;
    margin: 0 auto;
    
}

.skills {
    padding: 0px;
    margin: 0 auto;
}

h3, h2{
    padding: 1px;
    margin: 0 auto;
    
}

.maintopic{
    margin: 7px auto;
    
}

.description p, .hobbies ul {
    margin-top: 1px;
}

